<div style="background-color: #EEEEEE; height:100%; width: 925px; margin-left:300px; padding:10px;">



    <label for="exampleDataList" class="form-label">Secteur</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <datalist id="datalistOptions">
  <option value="les secteurs existe">
  </datalist>

    <label for="exampleDataList" class="form-label">Phase</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <datalist id="datalistOptions">
  <option value="les phase">
  </datalist>

    <label for="exampleDataList" class="form-label">Tache</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <datalist id="datalistOptions">
<option value="les taches">
</datalist>

    <label for="exampleDataList" class="form-label">Poste</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <datalist id="datalistOptions">
<option value="les poste">
</datalist>

    <label for="exampleDataList" class="form-label">Prix</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <datalist id="les prix">
<option value="San Francisco">
</datalist>

    <div style="text-align: center; margin-top:10px">
        <button class="btn"><i class="fa fa-search"></i> Chercher</button>
        <button class="btn"><i class="fa fa-download"></i> Exporter</button>
    </div>

</div>