nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background: #BFD8D5;
}

.logo {
    color: #000000;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #000000;
    padding: 8px 30px;
}

ul li a:hover,
ul li a.active {
    /* color: #FFF;
    background: #DFDFDF; */
    border-bottom: 2px solid #000000;
}

#icon {
    background-color: #DFDFDF;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #DFDFDF;
}

#checkbox,
#icon {
    display: none;
}


/* Youtube link */

.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -100px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}

@media screen and (max-width: 768px) {
    nav {
        border-bottom: 1px solid #455468;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #BFD8D5;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }
    ul li {
        display: block;
        padding: 10px 15px;
    }
    ul li a {
        display: block;
        padding: 10px 0;
    }
    #icon {
        display: block;
    }
    #checkbox:checked~ul {
        display: block;
    }
    .resp {
        display: flex;
    }
}