<!-- <header style="position:absolute; top: 0; left:0;width:100vw;"> -->
<div>
    <nav>
        <div class="logo">
            <span class="resp"><img style="display: inline-block; margin:auto;" width="70" src="assets/logo.png"></span>
            <span><p style="width: 250px;text-align: center;display: inline-block; font-weight: bold;">Ministere de l'equipement, du transport de la logistique et de l'eau</p></span>
        </div>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" id="icon">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>