<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<div class="nav-side-menu">
    <div class="brand"><i class="fa fa-dashboard fa-lg"></i> Dashboard</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

            <li data-toggle="collapse" data-target="#products" class="collapsed activat">
                <!-- <a href="#">  Recherche <span class="arrow"></span></a> -->
                <a>  Recherche <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="activat"><a routerLink="recherche" routerLinkActive="active">Hiérarchique/Par mot clé </a></li>

            </ul>

            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a>Recueil des prix<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <!-- <li class="activat"><a routerLink="recueil" routerLinkActive="active">Par secteur/mot clé</a></li> -->
                <li class="activat"><a routerLink="recueil" routerLinkActive="active">Par secteur</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a>Bordereau estimatif <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>Création</li>
                <li>Consultation</li>
                <li>New New 3</li>
            </ul>


            <li>
                <a href="#">
                  Services
                </a>
            </li>

        </ul>
    </div>
</div>
