.form-label {
    color: black;
}

.btn {
    background-color: #4f5b69;
    border: none;
    color: white;
    padding: 12px 14px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: #BFD8D5;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px;
}

.table th {
    background-color: #BFD8D5;
    color: #000000;
}


/* .table tbody tr:nth-child(even) {
  background-color: #d1e8f5;
} */


/*responsive*/

@media (max-width: 500px) {
    .table thead {
        display: none;
    }
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        padding-left: 50%;
        text-align: left;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
